.button {
    padding: 0px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px #dde1ef solid;
    color: #000;
    line-height: 40px;
    width: max-content;
    background: transparent;
    display: block;
    text-align: center;

    &:hover,
    &.active {
        background:$main-color;
        color: #fff;

        &.button.outline {
            background:transparent;
            color: $main-color;
        }
    }

    &.bold {
        font-weight: 600;
    }

    &.outline {
        border: 1px $main-color solid;
        background: $main-color;
        color: #fff;
    }
}