$container-width:1260px;

$main-color:#FDAF18;
$main-text-color:#000000;

$small-screen-width:1200px;
$desktop-width:1000px;
$tablet-width:768px;
$mobile-width:569px;
$small-mobile-width:450px;

$border:1px $main-color solid;

$numbers: (1,2,3,4,5,6);
